<form action="/form-data" method="post">

    <label>Name</label><br>
    <input type="text" name="name" id="name" ><br>
    <label>Surname</label><br>
    <input type="text" name="surname" id="surname" ><br>
    <label>Age</label><br>
    <input type="text" name="age" id="age"><br>

    <button type="submit">POST</button>
</form>