<style>
    body {
    background-color: black;
    }

    div {
        background-color: #003;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        text-align: center;
        font-size: 50px;
        color: green;
    }

</style>

<div>
    <h2>{{name}}</h2>
</div>
<div>
    <h2>{{surname}}</h2>
</div>
<div>
    <h2>{{age}}</h2>
</div>