<style>
    h4{
        color: burlywood;
    }
</style>
<div>
    <h4>Request body: {{bodyReq}}</h4>
        <br>
    <h4>Name from json body: {{name}}</h4>
        <br>
    <h4>Surname from json body: {{surname}}</h4>
        <br>
    <h4>Age from json body: {{age}}</h4>

</div>
<div>
    <img src="/public/images/Postman-json-data-response-test.png" alt="Postman-test">
</div>